<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="tema">Tema</label>
          <input
            id="tema"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.tema?.errors && f.tema.touched
            }"
            placeholder="Insira o Tema"
            formControlName="tema"
          />
          <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
            Tema é Obrigatório
          </div>
          <div *ngIf="f.tema?.errors?.minlength" class="invalid-feedback">
            Mínimo 4 caracteres
          </div>
          <div *ngIf="f.tema?.errors?.maxlength" class="invalid-feedback">
            Máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="local">Local</label>
          <input
            id="local"
            type="text"
            class="form-control is-invalid"
            formControlName="local"
            placeholder="Insira o Local"
            [ngClass]="{
              'is-invalid': f.local?.errors && f.local.touched
            }"
          />
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            local é Obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="dataEvento">Data e Hora</label>
          <input
            id="dataEvento"
            type="datetime"
            class="form-control is-invalid"
            formControlName="dataEvento"
            placeholder="Data/Hora Evento"
            [ngClass]="{
              'is-invalid': f.dataEvento?.errors && f.dataEvento.touched
            }"
          />
          <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">
            Data/Hora é obrigatório
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="quantidadePessoas">Qtd. Pessoas</label>
          <input
            id="quantidadePessoas"
            type="text"
            class="form-control is-invalid"
            formControlName="quantidadePessoas"
            placeholder=""
            [ngClass]="{
              'is-invalid':
                f.quantidadePessoas?.errors && f.quantidadePessoas.touched
            }"
          />
          <div
            *ngIf="f.quantidadePessoas.errors?.required"
            class="invalid-feedback"
          >
            Qtd Pessoas é obrigatório
          </div>
          <div *ngIf="f.quantidadePessoas?.errors?.max" class="invalid-feedback">
            Capacidade máxima 120000 pessoas
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="telefone"
            placeholder="(000) 90000-0000"
            [ngClass]="{
              'is-invalid': f.telefone?.errors && f.telefone.touched
            }"
          />
          <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="email"
            placeholder="E-mail"
            [ngClass]="{
              'is-invalid': f.email?.errors && f.email.touched
            }"
          />
          <div *ngIf="f.email?.errors?.required" class="invalid-feedback">
            Email é obrigatório.
          </div>
          <div *ngIf="f.email?.errors?.email" class="invalid-feedback">
            Formato e-mail inválido.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="imageURL"
            placeholder="Imagem"
            [ngClass]="{
              'is-invalid': f.imageURL?.errors && f.imageURL.touched
            }"
          />
          <div *ngIf="f.imageURL?.errors?.required" class="invalid-feedback">
            Imagem é obrigatório.
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary me-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
