<app-titulo [titulo]="'Evento'" ></app-titulo>
    <div class="form-group mr-2 d-flex">
      <label class="m-auto">Filtro: </label>
      <input
        type="text"
        class="form-control mr-2"
        placeholder="buscar"
        [(ngModel)]="filtroLista"
      />
    </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <button
            id="imagem"
            class="btn border-0 btn-sm"
            (click)="alterarImagem()"
          >
            <i
              class="{{ !exibirImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"
            ></i>
            {{ exibirImagem ? "Exibir" : "Ocultar" }}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <td>
          <img
            #collapse="bs-collapse"
            [collapse]="exibirImagem"
            [isAnimated]="true"
            src="/assets/{{ evento.imageURL }}"
            alt="Imagem-evento"
            [style.width.px]="100"
            [style.margin.px]="2"
          />
        </td>
        <td>{{ evento.id }}</td>
        <td>{{ evento.tema }}</td>
        <td>{{ evento.local }}</td>
        <td>{{ evento.dataEvento | dateTimeFormatPipe }}</td>
        <td>{{ evento.quantidadePessoas }}</td>
        <td>{{ evento.lotes }}</td>
        <td>
            <button
              type="button"
              tooltip="Editar"
              class="btn btn-primary btn-sm mr2"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              type="button"
              tooltip="Excluir"
              class="btn btn-danger m-2 btn-sm"
              (click)="openModal(template)"
            >
              <i class="fa fa-trash"></i>
            </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="eventos && !eventos.length">
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado.</h4>
      </td>
    </tfoot>
  </table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Realmente deseja excluir esse item?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
